@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

.cardContainer {
  display: flex; 
  justify-content: center;
}

.routContainer {
  display: flex; 
  justify-content: center;
}

.card-header {
  font-size: 25px;
}